* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    /* font-family: "Sen", sans-serif; */
    font-family: "Poppins", sans-serif;
}

/*! COMMON */
.sen {
    font-family: "Sen", sans-serif;
}

.content {
    min-width: 1170px;
    max-width: calc(100% - 48px);
}

/*! HERO */
#hero {
    height: 100vh;
    background: red;
}

.hero-wrap {
}

/*! COURSES */
#courses {
}

.courses-wrap {
}

/*! TESTI */
#testi {
}

.testi-wrap {
}

/*! FEATURES */
#features {
}

.features-wrap {
}

/*! CTA */
#cta {
}

.cta-wrap {
}

/*! BLOG */
#blog {
}

.blog-wrap {
}

/*! FOOTER */
#footer {
}

.footer-wrap {
}
