* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

/*! COMMON */
a {
    text-decoration: none;
    color: white;
}

.sen {
    font-family: "Sen", sans-serif;
}

h2 {
    font-family: "Sen", sans-serif;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

:root {
    --bg-color: #fffcf4;
    --bg-brown: #2e2100;
    --primary-color: #ffb900;
    --text-normal: #5f5b53;
    --text-bold: #171100;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 17px 27px;
    text-align: center;
    font-weight: 600;
    background-color: var(--text-bold);
    color: #ffffff;
    border-radius: 25px;
}

#container {
    display: flex;
    flex-direction: column;
}

/*! HERO */
#header {
    height: 900px;
    background: var(--bg-color);
}

.header-wrap {
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}

.header-nav-list {
    display: flex;
    column-gap: 42px;
    margin-right: -446px;
}

.header-nav-list__item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--text-normal);
}

.header-nav-list__item--selected {
    color: var(--text-bold);
    font-weight: 600;
}

.header-nav-btn {
    font-weight: 600;
    font-size: 1.6rem;
    padding: 17px 41.25px;
}

.header-hero {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.header-hero-img {
    width: 470px;
    height: 685px;
    position: relative;
}

.header-hero-img__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.header-hero-img-infor {
    min-width: 270px;
    padding: 24px;
    position: absolute;
    bottom: 48px;
    right: -100px;
    background-color: #fff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.header-hero-img-infor-item {
    display: flex;
    align-items: center;
}

.header-hero-img-infor-item + .header-hero-img-infor-item {
    margin-top: 14px;
}

.header-hero-img-infor-item-desc {
    margin-left: 16px;
}

.header-hero-img-infor-item-desc__quantity {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: var(--text-normal);
}

.header-hero-img-infor-item-desc__name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-bold);
}

.header-hero-content {
    width: 40.17%;
}

.header-hero-content__heading {
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-top: 64px;
    color: var(--text-bold);
}

.header-hero-content__desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-normal);
    margin-top: 22px;
    margin-bottom: 38px;
}

.header-hero-content-link {
    display: flex;
    align-items: center;
}

.header-hero-content-link__btn {
    margin-right: 28px;
    padding: 17px 33.5px;
    background-color: var(--primary-color);
    border-radius: 32px;
}

.header-hero-content-link__video,
.header-hero-content-link__btn {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.header-hero-content-link__video {
    display: flex;
    align-items: center;
    position: relative;
    color: var(--text-bold);
}

.header-hero-content-link__video i {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    color: var(--primary-color);
    margin-right: 14px;
}

.fa-play:before {
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
    font-size: 12px;
}

.header-hero-content__more {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-top: 48px;
    margin-bottom: 8px;
    color: var(--text-normal);
}

.header-hero-content-data {
    display: flex;
}

.header-hero-content-data__item {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-right: 28px;
    color: var(--text-normal);
}

.header-hero-content-data__item .number {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    margin-right: 10px;
    color: var(--text-bold);
}

/*! COURSES */
#courses {
    height: 645px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.courses-wrap {
}

.courses-header {
}

.courses-header__heading {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;

    color: var(--text-bold);
}

.courses-header-desc {
    display: flex;
    justify-content: space-between;
}

.courses-header-desc__text {
    max-width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-normal);

    margin-top: 16px;
    margin-bottom: 55px;
}

.courses-header-desc-icon {
}

.courses-header-desc-icon__item {
    font-size: 4rem;
    margin-left: 18px;
}

.courses-list {
    display: flex;
}

.courses-list-item {
    width: calc(100% / 3);
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
}

.courses-list-item + .courses-list-item {
    margin-left: 30px;
}

.courses-list-item__img {
    display: block;
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.courses-list-item-content {
    padding: 16px 22px 22px;
}

.courses-list-item-content-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-list-item-content-heading__text {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-bold);
}

.courses-list-item-content-heading-rating {
    color: var(--primary-color);
    display: flex;
}

.courses-list-item-content-heading-rating__rate {
    margin-left: 6px;
}

.courses-list-item-content__desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: var(--text-normal);

    margin-top: 6px;
    margin-bottom: 12px;
}

.courses-list-item-content-booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-list-item-content-booking__price {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--text-bold);
}

.courses-list-item-content-booking__btn {
    background-color: var(--primary-color);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    padding: 12px 24px;
}

/*! TESTI */
#testi {
    height: 380px;
    background: var(--bg-brown);
    color: #fff;
}

.testi-wrap {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.testi-infor {
}

.testi-infor__avt {
    border-radius: 50%;
    width: 72px;
    height: 72px;
    object-fit: cover;
}

.testi-infor__name {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;

    margin-top: 16px;
    margin-bottom: 4px;
}

.testi-infor__bgr {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
    margin-bottom: 28px;
}

.testi-infor-dot {
}

.testi-infor-dot__item {
    font-size: 0.6rem;
    color: #634700;
    margin-right: 6px;
}

.testi-infor-dot__item--selected {
    color: var(--primary-color);
}

.testi-content {
    max-width: 740px;
    position: relative;
}

.testi-content__text {
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
}

.testi-content__quotes {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, -100%);
    font-size: 4rem;
    color: #634700;
}

/*! FEATURES */
#features {
    height: 438px;
    margin-bottom: 200px;
    margin-top: 200px;
}

.features-wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.features-photoList {
    position: relative;
}

.features-photoList__item {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;

    position: absolute;
    bottom: 0;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px;
}

.features-photoList__item:last-child {
    top: 0;
    transform: translateX(calc(100% + 30px));
}

.features-header {
    max-width: 470px;
    margin-top: 58px;
}

.features-header__heading,
.cta-header__heading {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: var(--text-bold);
}

.features-header__desc,
.features-header__more,
.cta-header__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--text-normal);
    margin-top: 16px;
}

.features-header__more {
}

.features-header__btn,
.cta-header__btn {
    display: inline-block;
    background: var(--primary-color);
    margin-top: 32px;
    padding: 17px 38px;
}

.features-wrap {
}

/*! CTA */
#cta {
    height: 440px;
    margin-bottom: 200px;
}

.cta-wrap {
    display: flex;
    justify-content: space-between;
}

.cta-header {
    max-width: 570px;
    margin-top: 70px;
}

.cta-header__heading {
}

.cta-header__desc {
}

.cta-header__btn {
}

.cta__photo {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px;
}

/*! BLOG */
#blog {
    height: 878px;
    background: var(--bg-color);
}

.blog-wrap {
}

.blog-header {
    text-align: center;
}

.blog-header__heading {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;

    color: var(--text-bold);
}

.blog-header__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;

    color: var(--text-normal);
}

.blog-list {
}

.blog-list-item {
    width: calc(100% / 3);

    border-radius: 16px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog-list-item__img {
    display: block;

    width: 100%;
    height: 250px;
    object-fit: cover;

    border-radius: 16px 16px 0 0;
}

.blog-list-item-content {
    padding: 20px 20px 28px 20px;

    background: white;
}

.blog-list-item-content__date {
    position: relative;

    margin-left: 10px;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;

    color: var(--text-normal);
}

.blog-list-item-content__date::before {
    content: "";

    display: block;

    width: 6px;
    height: 6px;

    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateX(-50%);

    border-radius: 50%;

    background-color: var(--primary-color);
}

.blog-list-item-content__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;

    color: var(--text-bold);
}

.blog-list-item-content__btn {
    padding: 17px 15px;

    background: var(--primary-color);

    border-radius: 25px;
}

.blog-wrap {
}

/*! FOOTER */
#footer {
    height: 428px;
    background: var(--bg-brown);
}

.footer-wrap {
}
