* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

/*! COMMON */
.sen {
    font-family: "Sen", sans-serif;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

:root {
    --bg-color: #fffcf4;
    --primary-color: #ffb900;
    --text-normal: #5f5b53;
    --text-bold: #171100;
}

.btn {
    min-width: 118px;
    padding: 0px 27px;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    background-color: var(--text-bold);
    color: #ffffff;
    border-radius: 25px;
}

#container {
    display: flex;
    flex-direction: column;
}

/*! HERO */
#header {
    height: 100vh;
    background: var(--bg-color);
}

.header-wrap {
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}

.header-nav-list {
    display: flex;
    column-gap: 42px;
    margin-left: -100px;
}

.header-nav-list__item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 0.57;
    color: var(--text-normal);
}

.header-nav-list__item--selected {
    color: var(--text-bold);
    font-weight: 600;
}

.header-nav-btn {
    font-weight: 600;
    font-size: 1.6rem;
}

/*! COURSES */
#courses {
    height: 645px;
    margin-top: 200px;
    margin-bottom: 200px;
    background: green;
}

.courses-wrap {
}

/*! TESTI */
#testi {
    height: 380px;
    background: orange;
}

.testi-wrap {
}

/*! FEATURES */
#features {
    height: 438px;
    background: #777;
}

.features-wrap {
}

/*! CTA */
#cta {
    height: 440px;
    margin-top: 200px;
    margin-bottom: 200px;
    background: #999;
}

.cta-wrap {
}

/*! BLOG */
#blog {
    height: 878px;
    background: #ccc;
}

.blog-wrap {
}

/*! FOOTER */
#footer {
    height: 428px;
    background: #666;
}

.footer-wrap {
}
