* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    /* font-family: "Sen", sans-serif; */
    font-family: "Poppins", sans-serif;
}

/*! COMMON */
.sen {
    font-family: "Sen", sans-serif;
}
